# **Theoretical Answer**

**1. What are the data strctures, and why are they important?**  


-  Data structures are ways of organizing and storing data in a computer so it can be used efficiently.
- They are important because they make programs faster, save memory, and help solve complex real-world problems like searching, routing, and scheduling.

**2. Explain the difference between mutable and immutable data types with examples.**

- Mutable data types can be modified after creation, like lists and dictionaries. Immutable data types cannot be changed once created, like strings, tuples, and integers. If you try to modify an immutable type, Python creates a new object instead.

In [ ]:
# Mutable

my_list = [1, 2, 3]
print(my_list)

my_list[0] = 100
print(my_list)

In [ ]:
# Immutable

my_tuple = (10, 20, 30)
print(my_tuple[0])

my_tuple[0] = 100

**3. What are the main differences between lists and tuples in Python?**

- In Python, lists and tuples are both used to store collections of data, but they are different in some important ways. The main difference is that lists are mutable, meaning their elements can be changed, added, or removed after the list is created. Tuples, on the other hand, are immutable, so once a tuple is created, its values cannot be modified. Lists are written using square brackets, for example [1, 2, 3], while tuples are written using round brackets, such as (1, 2, 3). Because tuples cannot change, they are generally faster and are often used to store fixed data like the days of the week, whereas lists are more flexible and are used when the data may need to be updated, like items in a shopping cart.

**4. Describe how dictionary store data.**
- A dictionary stores data in the form of key–value pairs. Each item has a unique key that acts like a name or label, and a value that holds the actual data. For example, in {"name": "Anand", "age": 25}, "name" and "age" are keys, while "Anand" and 25 are their values. Dictionaries use curly brackets {} and allow fast access to data because you can directly find a value by using its key, just like searching a contact by name in your phone.

**5. Why might you use a set instead of list in Python?**
- you might use a set instead of a list when you want to store unique items only and do not care about the order of elements. A set automatically removes duplicates, while a list can have repeated values. Sets are also faster than lists for checking membership (for example, testing if an item exists in the collection). For example, if you want to keep track of unique student IDs or unique words in a sentence, a set is more useful than a list.

**6. What is a string in Python, how is it difficult from a list?**
- A string is a sequence of characters enclosed in single quotes ('...'), double quotes ("..."), or triple quotes ('''...''' or """..."""). For example, "Hello" is a string. A string is different from a list because strings are immutable, meaning their contents cannot be changed once created, while lists are mutable and allow modification like adding, removing, or updating elements. Also, strings specifically store text characters, whereas lists can store different types of data such as numbers, strings, or even other lists.

**7. How do tuples ensure data integrity inn Python?**
- Tuples in Python ensure data integrity because they are immutable, meaning their elements cannot be changed, added, or removed after the tuple is created. This immutability protects the data from accidental modification, making tuples a safe choice when you want information to stay constant. For example, fixed data like coordinates (x, y) or days of the week should not be altered, so using a tuple helps to maintain accuracy and reliability of the data.

**8. What is a hash table, and how does it relate to dictionaries in Python?**

- A hash table is a data structure that stores data in key–value pairs and allows very fast access to values by using a key. It works by applying a hash function to the key, which generates a unique index where the value is stored. This makes searching, inserting, and deleting data much faster compared to searching through a list. In Python, dictionaries are built on top of hash tables. When you use a dictionary and look up a value using its key, Python internally uses hashing to quickly find the location of that value in memory.

**9. Can list contain different data type in Python?**

- Yes, in Python, a list can contain different data types in the same list. For example, a single list can hold integers, strings, floats, or even other lists. For instance, [10, "Anand", 3.14, [1, 2]] is a valid Python list. This flexibility makes lists very useful for storing collections of mixed data, unlike some other languages where a list (or array) usually has to contain the same type of elements.

**10. Explain why strings are immutable in Python.**

- Strings are immutable in Python, which means that once a string is created, its characters cannot be changed. This design helps protect the data, ensures consistency, and allows Python to optimize memory usage and performance. For example, when you try to change a character in a string, Python does not modify the original string but instead creates a new string. This immutability makes strings safe to use as keys in dictionaries or elements in sets, where the data must remain constant.

**11. What advantages do dictionaries after over lists for certain tasks?**

- Dictionaries have several advantages over lists for certain tasks because they store data in key–value pairs. Unlike lists, where you have to search through elements one by one, dictionaries allow fast access to values using keys, making lookups much quicker. They also ensure that each key is unique, which helps avoid duplicates when storing data like phone numbers, student IDs, or configuration settings. This makes dictionaries more efficient and convenient than lists when you need quick search, update, or retrieval of data based on a specific identifier.

**12. Describe a scenario where using a tuple would be preferable over a list.**

- A tuple would be preferable over a list in scenarios where the data should remain constant and not be changed. For example, if you are storing the coordinates of a point (x, y) in a program, or the days of the week, you do not want these values to be accidentally modified. Using a tuple ensures data integrity because it is immutable, unlike a list which can be changed. This makes tuples ideal for storing fixed collections of related data that should stay safe throughout the program.

**13. How do sets handle duplicates values in Python?**
- sets do not allow duplicate values. If you try to add the same value more than once, the set will automatically keep only one copy of that value. For example, if you create a set with {1, 2, 2, 3}, Python will store it as {1, 2, 3}. This makes sets useful when you want to keep only unique items in a collection.

**14. How does the "in" Keyword work differently for list and dictionaries?**

- In Python, the in keyword is used to check whether an item exists in a collection, but it works slightly differently for lists and dictionaries. For a list, in checks if a value exists anywhere in the list. For example, 3 in [1, 2, 3] returns True. In a dictionary, in only checks the keys, not the values. For example, if my_dict = {"a": 10, "b": 20}, then "a" in my_dict returns True, but 10 in my_dict returns False. This difference is important to remember when working with dictionaries.

**15. Can u modify the elements of a tuple? Explain why or why not?**
- No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its elements cannot be changed, added, or removed.

  For example, if you have my_tuple = (1, 2, 3), you cannot do my_tuple[0] = 10, as it will give an error. Tuples are made this way to ensure the data inside them stays fixed and safe, which is useful when you want to store constant data that should not be changed accidentally.

**16. What is a nested dictionary, and give an example of its use case?**
- A nested dictionary in Python means having a dictionary inside another dictionary. In other words, the value of a key can itself be another dictionary. This is useful when you want to store complex or structured data in a clear way.

    For example, if you are storing student information, you can use a nested dictionary like this:

In [ ]:
students = {
    "student1": {"name": "Anand", "age": 25, "course": "Python"},
    "student2": {"name": "Rakesh", "age": 24, "course": "Data Science"}
}

print(students["student1"]["name"])  # Output: Anand

Anand

**17. Describe the time complexity of accessing elements in a dictionary.**
- The time complexity of accessing elements in a dictionary is generally O(1), which means constant time. This happens because dictionaries in Python are implemented using a data structure called a hash table, where each key is mapped to a unique location in memory. As a result, retrieving the value for a key does not depend on the size of the dictionary. However, in rare cases such as hash collisions, the performance may degrade, but on average, dictionary lookups are still considered O(1).

**18. In what situations are lists preferred over dictionaries?**
- Lists are preferred over dictionaries when the order of elements matters or when you need to access data by its position (index) instead of a key. They are also useful when storing simple collections of items like numbers, names, or objects where you don’t need to assign labels. Lists are better when you expect to have duplicate values or when the data does not naturally map to key–value pairs. In short, lists are ideal for ordered, sequential data where indexing is more important than key-based retrieval.

**19. Why are dictionaries considered unordered, and how doest that affect data retrieval.**
- Dictionaries in Python are considered unordered because the elements inside them are stored as key–value pairs without following a fixed sequence like lists or tuples. This means that the items do not have a specific position or index number that you can rely on. Instead, dictionaries are designed for fast lookups, and you retrieve data using the key directly, not the order of insertion. The lack of order does not affect data retrieval, because as long as you know the key, you can access its value instantly. However, you cannot access dictionary elements by position, only by their keys.

**20. Explain the different between a list and a dictionary in terms of data retrieval.**

- The main difference between a list and a dictionary in terms of data retrieval is the way elements are accessed. In a list, elements are retrieved by using their index number, which represents their position in the sequence. This means you must know the element’s position to access it. On the other hand, in a dictionary, elements are stored as key–value pairs, and data is retrieved using the key instead of the position. This makes dictionary lookups faster and more meaningful, as you can access values directly by their keys.

## **Practical Questions**

**1. Write a code to create a string with your name and print it.**

In [ ]:
name = "Anand"
print(name)

Anand

**2. Write a code to find the length of the string "Hello World".**

In [ ]:
n = "Hello World"

len(n)

11

**3. Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
characters = "Python Programming"
characters[0:3]

"""sliced_text = characters[0:3]    = Optional
print(sliced_text)"""

'sliced_text = characters[0:3]    = Optional \nprint(sliced_text)'

**4. Write a code to covert the string "Hello" to uppercase.**

In [ ]:
code = "Hello"
code.upper()

'HELLO'

**5. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [ ]:
fruit = "I like apple"
fruit.replace("apple", "orange")

'I like orange'

**6. Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
num = [1, 2, 3, 4, 5]
print(f"List = {num}")

List = [1, 2, 3, 4, 5]

**7. Write a code to append the number 10 the list [1, 2, 3, 4].**

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

**8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:
veriable = [1, 2, 3, 4, 5]
veriable.remove(3)
print(f"The number 3 removed {veriable}")

The number 3 removed [1, 2, 4, 5]

**9. Write a code to access the second element in the list ["a', "b", "c", "d"]**

In [ ]:
elements = ["a", "b", "c", "d"]
elements[1]

'b'

In [ ]:
# Optional way

elements = ["a", "b", "c", "d"]

second_elements = elements[1]
print(second_elements)

b

**10. Write a code to reverse the list [10, 20, 39, 40, 50].**

In [ ]:
num1 = [10, 20, 39, 40, 50]

num1.reverse()
num1

[50, 40, 39, 20, 10]

In [ ]:
# Optional

i = 5

while i >= 1:
  print(i * 10)
  i -= 1

50
40
30
20
10

**11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

**12. Write a code to access the second-to-last elemennt of the tuple ("red", "green", "blue", yellow").**

In [ ]:
colours = ("red", "green", "blue", "yellow")
colours[-2]

'blue'

**13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
num = (10, 20, 5, 15)
min(num)

5

In [ ]:
# Optional

num = (10, 20, 5, 15)
min(num)

minimum = min(num)
print(f" The minimum number: {minimum}")

 The minimum number: 5

**14. Write a code to find the index of the element "cat" in the tuple ("dog", "cat", "rabbit").**

In [ ]:
animal = ("dog", "cat", "rabbit")
find = animal.index("cat")
print(f" The cat element number: {find}")

 The cat element number: 1

**15. Write a code to create a tuple containing three different fruits and checks if "kiwi" is in it.**

In [ ]:
fruits = ("banana", "kiwi", "pineapple")

fruit = "kiwi" in fruits
print(f"Yes it is avaiable = {fruit}")

Yes it is avaiable = True

**16. Write a code to create a set with the elements "a", "b", "c" and print.**

In [ ]:
alphabet = {"a", "b", "c"}

print(alphabet)
print(f" Type = {type(alphabet)}")

{'c', 'b', 'a'}
 Type = <class 'set'>

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
num = {1, 2, 3, 4, 5}
num.clear()
print(num)

set()

**18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
numbers = {1 ,2, 3, 4}
numbers.remove(4)
print(f" The number 4 removed = {numbers}")

 The number 4 removed = {1, 2, 3}

**19. Write a code to find the union of two sets {1, 2, 3} and {2, 3, 4}.**

In [3]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

union_set = set1.union(set2)

print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4}

In [2]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

set1.union(set2)

{1, 2, 3, 4}

In [4]:
# another way using '|' operator

union_set2 = set1 | set2
print("Union using | operator:", union_set2)

Union using | operator: {1, 2, 3, 4}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}**

In [5]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

set1.intersection(set2)

{2, 3}

In [7]:
# another way

intersection_set2 = set1 & set2
print("using & operator:", intersection_set2)

using & operator: {2, 3}

**21. Write a code to create a dicitonary with the keys "name", "age", and "city" and print it.**

In [8]:
# create dictionary
my_dict = {"name": "Rahul", "age": 22, "city": "Delhi"}

print("Dictionary:", my_dict)

Dictionary: {'name': 'Rahul', 'age': 22, 'city': 'Delhi'}

**22. Write a code to add a new key-value pair "country": "USA" to the dictionary {"name": "Jhon", "age",: 25}.**

In [10]:
person = {"name": "John", "age": 25}

person["country"] = "USA"
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

**23. Write a code to access the value associated with the key "name" in the dictionary {"name": "Alice", "age": 30}.**

In [11]:
person = {"name": "Alice", "age": 30}

print("Name:", person["name"])

Name: Alice

In [12]:
person.get("name")

'Alice'

**24. Write a code to remove the key "age" from the dictionary {"name": "Bob", "age" 22, "city": "New York"}**

In [13]:
person = {"name": "Bob", "age": 22, "city": "New York"}

person.pop("age")
print("Updated Dictionary:", person)

Updated Dictionary: {'name': 'Bob', 'city': 'New York'}

**25. Write a code to check if the key "city" exists in the dictionary {"name": "Alice", "city": "Paris"}.**

In [15]:
person = {"name": "Alice", "city": "Paris"}

"city" in person

True

In [16]:
person = {"name": "Alice", "city": "Paris"}

if "city" in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

**26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [17]:
# create a list

my_list = [10, 20, 30, 40]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Anand", "age": 25, "city": "Mumbai"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Anand', 'age': 25, 'city': 'Mumbai'}

**27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [18]:
import random

numbers = random.sample(range(1, 101), 5)

# sort in ascending order
numbers.sort()
print("Sorted random numbers:", numbers)

Sorted random numbers: [9, 25, 70, 71, 98]

**28. Write a code to create a list with strings and print the element at the third index.**

In [21]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
print("Element at third index:", fruits[3])

Element at third index: mango

In [22]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]
fruits[3]

'mango'

**29. Write a code to combine two dictionaries into one and print the result.**

In [23]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined = {**dict1, **dict2}

print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [26]:
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**30. Write a code to covert a list of stings into a set.**

In [27]:
my_list = ["apple", "banana", "cherry", "apple", "banana"]

my_set = set(my_list)

print("Original List:", my_list)
print("Converted Set:", my_set)

Original List: ['apple', 'banana', 'cherry', 'apple', 'banana']
Converted Set: {'cherry', 'apple', 'banana'}